
{%load static%}

<footer class="footer footer-white background-body">
    <div class="container-fluid">
      <div class="container-footer">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <div class="mt-20 mb-20">
              <a class="d-inline-block mb-20" href="/">
                <img class="dark-mode" src="{% static 'imgs/template/logo-footer.svg' %}" alt="Travila">
                <img class="light-mode" src="{% static 'imgs/template/logo-footer-w.svg' %}" alt="Travila">
              </a>
              <div class="box-info-contact mt-0">
                <p class="text-md neutral-1000">Dive into local recommendations for a truly authentic experience.</p>
              </div>
              <div class="box-need-help">
                <p class="need-help text-md-medium mb-5 neutral-1000">Need help? Call us</p>
                <br>
                <a class="heading-6 phone-support" href="tel:1-800-222-8888">1-800-222-8888</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <h6 class="neutral-1000">Company</h6>
                <ul class="menu-footer">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Community Blog</a></li>
                  <li><a href="#">Jobs & Careers</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Our Awards</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6">
                <h6 class="neutral-1000">Services</h6>
                <ul class="menu-footer">
                  <li><a href="#">Tour Guide</a></li>
                  <li><a href="#">Tour Booking</a></li>
                  <li><a href="#">Hotel Booking</a></li>
                  <li><a href="#">Ticket Booking</a></li>
                  <li><a href="#">Rental Services</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6">
                <h6 class="neutral-1000">Legal</h6>
                <ul class="menu-footer">
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Cookies Policy</a></li>
                  <li><a href="#">Data Processing</a></li>
                  <li><a href="#">Data Policy</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6">
                <h6 class="neutral-1000">Support</h6>
                <ul class="menu-footer">
                  <li><a href="#">Forum support</a></li>
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">How it works</a></li>
                  <li><a href="#">Security</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <p class="text-lg neutral-1000 mb-15">Newsletter</p>
            <div class="d-flex align-items-center">
              <form class="form-newsletter form-newsletter-2" action="#">
                <input class="form-control" type="text" placeholder="Enter your email">
                <input class="btn btn-brand-secondary" type="submit" value="Subscribe">
              </form>
            </div>
          </div>
        </div>
        <div class="footer-bottom mt-50">
          <div class="row align-items-center">
            <div class="col-md-6 text-md-start text-center mb-20">
              <p class="text-sm neutral-1000">© 2024 Travila Inc. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end text-center mb-20">
              <div class="d-flex align-items-center justify-content-center justify-content-md-end box-socials-footer-cover">
                <p class="text-lg-bold neutral-1000 d-inline-block mr-10">Follow us</p>
                <div class="box-socials-footer d-inline-block">
                  <a class="icon-socials icon-instagram" href="#">
                    <!-- SVG for Instagram -->
                  </a>
                  <a class="icon-socials icon-facebook" href="#">
                    <!-- SVG for Facebook -->
                  </a>
                  <a class="icon-socials icon-twitter" href="#">
                    <!-- SVG for Twitter -->
                  </a>
                  <a class="icon-socials icon-be" href="#">
                    <!-- SVG for BE -->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  