{% extends 'base.html' %}
{% load bootstrap5 %}



{% block body %}

<div class ="container">
    <h2>Reservation</h2>
    <form id="bookingForm" method="post" class="p-4 border rounded bg-light">
        {% csrf_token %}
        <h2 class="mb-3">Booking Form</h2>
        {% bootstrap_form form %}
        {% buttons %}
            <div class="box-button-book">
            <button class="btn btn-book" type ="submit">Next Step
                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
        {% endbuttons %}
        </div>
    </form>
</div>


{% endblock %}


{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const numberOfPeopleInput = document.querySelector('input[name="number_of_people"]'); // Assure-toi que c'est bien le bon sélecteur
        const totalPriceInput = document.getElementById('totalPrice');
        const basePrice = parseFloat("{{ form.price.value }}");

        numberOfPeopleInput.addEventListener('input', function() {
            const numberOfPeople = parseInt(numberOfPeopleInput.value) || 0; // Récupère le nombre de personnes
            const totalPrice = basePrice * numberOfPeople; // Calcule le prix total
            totalPriceInput.value = totalPrice.toFixed(2); // Met à jour le champ du prix total
        });
    });
</script>
{% endblock %}


