{% extends 'base.html' %}
{% load static %}


{% block body %}
<!-- Inclure jQuery et jQuery UI -->

<style>
/* Style pour les dates spéciales */

  .ui-datepicker .highlight a {
      background-color: orange !important;
      color: white !important;
  }

</style>
<main class="main">
  <section class="box-section block-banner-tourlist p8" style="background-image:url({% static 'imgs/page/tour/banner4.png' %})">
    <div class="container"> 
      <div class="text-center"> 
        <h3>Journey with Travila - Begin Your Story!</h3>
        <h6 class="heading-6-medium">Easily search for top tours offered by our professional network</h6>
      </div> 
    </div>
  </section>
      <section class="box-section block-content-tourlist background-body">
        <div class="container"> 
          <div class="box-content-main">
            <div class="content-right">
              <div class="box-filters mb-25 pb-5 border-bottom border-1">
                <div class="row align-items-center">
                  <div class="col-xl-4 col-md-4 mb-10 text-lg-start text-center">
                    <div class="box-view-type" id="btnContainer">
                        <span class="text-sm-bold neutral-500 number-found">{{ total_events }} Event{{ total_events|pluralize }} Found</span></div>
                  </div>
                  <!-- Tri des events-->
                  <div class="col-xl-8 col-md-8 mb-10 text-lg-end text-center">
                    <div class="box-item-sort"><a class="btn btn-sort" href="?sort={% if sort_order == '-Public_date' %}Public_date{% else %}-Public_date{% endif %}">
                        <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.25 6L5.25 3M5.25 3L2.25 6M5.25 3L5.25 15" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path d="M9.75 12L12.75 15M12.75 15L15.75 12M12.75 15L12.75 3" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></a>
                        <!--filtre liste des pages-->
                      <div class="item-sort border-1"><span class="text-xs-medium neutral-500 mr-5">Show</span>
                        <div class="dropdown dropdown-sort border-1-right">
                          <button class="btn dropdown-toggle" id="dropdownSort2" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"><span>20</span></button>
                          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort2">
                          <li><a class="dropdown-item active {% if paginate_by == 20 %}active{% endif %}" href="?paginate_by={{20}}">20</a></li>
                          <li><a class="dropdown-item {% if paginate_by == 30 %}active{% endif %}" href="?paginate_by={{30}}">30</a></li>
                          <li><a class="dropdown-item {% if paginate_by == 50 %}active{% endif %}" href="?paginate_by={{50}}">50</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="item-sort border-1"><span class="text-xs-medium neutral-500 mr-5">Sort by:</span>
                        <div class="dropdown dropdown-sort border-1">
                          <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <span>Most Viewed</span></button>
                          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort" style="margin: 0px;">
                            <li><a class="dropdown-item active" href="#">Most Viewed</a></li>
                            <li><a class="dropdown-item" href="#">Recently search</a></li>
                            <li><a class="dropdown-item" href="#">Most popular</a></li>
                            <li><a class="dropdown-item" href="#">Top rated</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="items-container" class="box-list-tours list-tours wow fadeIn">
                <div class="row">
                  {% for event in events %}
                  <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card-journey-small background-card"> 
                      <!-- Partie l' image-->
                      <div class="card-image">
                        <a class="wish" href="#">
                            <svg width="20" height="18" viewbox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                        <img src="{{ event.Images.url }}" alt="Image" style="width: 100px; height: 100px; object-fit: cover;">
                    </div>
                    
                      <!-- Partie les informations -->
                      <div class="card-info background-card"> 
                        <div class="card-rating"> 
    
                          {% if event.Category.name == "Exceptional" %}
                          <div class="card-left">
                            <span class="lightning">Exceptional</span>
                          </div>
                          {% else %}
                          <div class="card-left"></div>
                          {% endif %}
                          <div class="card-right"> <span class="rating">4.96 <span class="text-sm-medium neutral-500">{{event.event_date}}</span></span></div>
                        </div>
                        <div class="card-title"> <a class='text-lg-bold neutral-1000' href= "{% url 'event_detail' event.slug %}">{{event}} </a></div>
                        <div class="card-program"> 
                          <div class="card-duration-tour"> 
                            <p class="icon-duration text-sm-medium neutral-500">  {{event.Nbr_jours}} Jours</p>
                            <p class="icon text-sm-medium neutral-500"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-central-south-asia" viewBox="0 0 16 16">
                              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M4.882 1.731a.48.48 0 0 0 .14.291.487.487 0 0 1-.126.78l-.291.146a.7.7 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a1 1 0 0 0-.462-.04 7 7 0 0 1 2.45-2.027m-3 9.674.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047.5.5 0 0 1 .724.447v.455a.8.8 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.45.45 0 0 1 11.743 8c.16 0 .306.084.392.218.557.875 1.63 2.282 2.365 2.282l.04-.001a7.003 7.003 0 0 1-12.658.905Z"/>
                            </svg> {{event.Pays}}</p>
                            
                            
                          </div>
                          <div class="endtime"> 
                            {% for Category in categories %}
                            {% if Category.name == "Exceptional" %}
                              <p class="text-sm-bold neutral-600">Promotion will end in</p>
                              <div class="box-count box-count-square mb-0 mt-5 wow fadeInUp">
                              <div class="deals-countdown" data-countdown="{{ Category.event_date|date:'Y/m/d H:i:s' }}"></div>
                              </div>
                            {% else %}
                              <div class="card-">
                                          <!-- Contenu alternatif pour les autres catégories -->
                              </div>
                            {% endif %}
                            {% endfor %}
                            <div class="card-price">
                              <h6 class="heading-6 neutral-1000">{{event.price}} {{event.currency}}</h6>
                              
                            </div>
                          <div class="card-button"> <a class='btn btn-gray' href="{% url 'event_detail' event.slug %}">Book Now</a></div>
                          
                          </div>
                          <div class ="card-left"><p  class="icon-duration text-sm-medium neutral-500">Publiée le : {{ event.Public_date|date:"d M Y" }}</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>
              </div>
              {% if events.has_other_pages  %}
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  {% if events.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}" aria-label="Previous"><span aria-hidden="true"> 
                        <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.00016 1.33325L1.3335 5.99992M1.3335 5.99992L6.00016 10.6666M1.3335 5.99992H10.6668" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></span></a></li>
                  {% endif %}

                  {% for i in events.paginator.page_range %}
                  <li class="page-item {% if events.number == i %}active{% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                  {% endfor %}


                  {% if events.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}" aria-label="Next"><span aria-hidden="true"> 
                        <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.99967 10.6666L10.6663 5.99992L5.99968 1.33325M10.6663 5.99992L1.33301 5.99992" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></span></a></li>
                  {% endif %}
                </ul>
              </nav>
              {% endif %}
            </div>
            <div class="content-left">
              <div class="sidebar-left border-1 background-body"> 
                <div class="box-filters-sidebar"> 
                  <div class="block-filter border-1"> 
                    <h6 class="text-lg-bold item-collapse neutral-1000">Filter Price </h6>
                    <form method="GET">
                      <div class="form-group">
                          <label for="id_titre">Titre</label>
                          {{ myfilter.form.Titre }}
                      </div>
                      <div class="form-group">
                          <label for="id_pays">Pays</label>
                          {{ myfilter.form.Pays }}
                      </div>
                      <div class="form-group">
                          <label for="id_event_date">Date</label>
                          {{ myfilter.form.event_date }}
                      </div>
                      <div class="form-group">
                          <label for="id_price">Price</label>
                          {{ myfilter.form.price }}
                      </div>
                      <input type="submit" value="Search" class="btn btn-gray mt-2">
                  </form>
                    </div>
                </div>
              </div>
              <!--populaire Tours-->
              <div class="sidebar-left border-1 background-body"> 
                <h6 class="text-lg-bold neutral-1000">Popular Tours</h6>
                <div class="box-popular-posts"> 
                  <ul> 
                    <li> 
                      <div class="card-post"> 
                        <div class="card-image"> <a href="#"> <img src="{% static 'imgs/page/tour/post.png' %}" alt="Travila"></a></div>
                        <div class="card-info"> <a class="text-xs-bold" href="#">Singapore Skylines: Urban Exploration</a><span class="price text-sm-bold neutral-1000">$48.25</span><span class="price-through text-sm-bold neutral-500">$60.75</span></div>
                      </div>
                    </li>
                    <li> 
                      <div class="card-post"> 
                        <div class="card-image"> <a href="#"> <img src="{% static 'imgs/page/tour/post2.png' %}" alt="Travila"></a></div>
                        <div class="card-info"> <a class="text-xs-bold" href="#">Singapore Skylines: Urban Exploration</a><span class="price text-sm-bold neutral-1000">$48.25</span><span class="price-through text-sm-bold neutral-500">$60.75</span></div>
                      </div>
                    </li>
                    <li> 
                      <div class="card-post"> 
                        <div class="card-image"> <a href="#"> <img src="{% static 'imgs/page/tour/post3.png' %}" alt="Travila"></a></div>
                        <div class="card-info"> <a class="text-xs-bold" href="#">Singapore Skylines: Urban Exploration</a><span class="price text-sm-bold neutral-1000">$48.25</span><span class="price-through text-sm-bold neutral-500">$60.75</span></div>
                      </div>
                    </li>
                    <li> 
                      <div class="card-post"> 
                        <div class="card-image"> <a href="#"> <img src="{% static 'imgs/page/tour/post4.png' %} " alt="Travila"></a></div>
                        <div class="card-info"> <a class="text-xs-bold" href="#">Singapore Skylines: Urban Exploration</a><span class="price text-sm-bold neutral-1000">$48.25</span><span class="price-through text-sm-bold neutral-500">$60.75</span></div>
                      </div>
                    </li>
                    <li> 
                      <div class="card-post"> 
                        <div class="card-image"> <a href="#"> <img src="{% static 'imgs/page/tour/post5.png' %}" alt="Travila"></a></div>
                        <div class="card-info"> <a class="text-xs-bold" href="#">Singapore Skylines: Urban Exploration</a><span class="price text-sm-bold neutral-1000">$48.25</span><span class="price-through text-sm-bold neutral-500">$60.75</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="box-see-more mt-20 mb-25"> <a class="link-see-more" href="#">See more 
                    <svg width="8" height="6" viewbox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z" fill=""></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-box box-media background-body"> 
        <div class="container-media wow fadeIn">
          <img src="{% static 'imgs/page/homepage5/media.png' %}" alt="Travimg src={% static 'imgs/page/homepage5/media.png' %}">
          <img src="{% static 'imgs/page/homepage5/media2.png' %}" alt="Travimg src={% static 'imgs/page/homepage5/media2.png' %}">
          <img src="{% static 'imgs/page/homepage5/media3.png' %}" alt="Travimg src={% static 'imgs/page/homepage5/media3.png' %}">
          <img src="{% static 'imgs/page/homepage5/media4.png' %}" alt="Travimg src={% static 'imgs/page/homepage5/media4.png' %}">
          <img src="{% static 'imgs/page/homepage5/media5.png' %}" alt="Travimg src={% static 'imgs/page/homepage5/media5.png' %}">
          <img src="{% static 'imgs/page/homepage5/media6.png' %}" alt="Travimg src={% static 'imgs/page/homepage5/media6.png' %}">
          <img src="{% static 'imgs/page/homepage5/media7.png' %}" alt="Travimg src={% static 'imgs/page/homepage5/media7.png' %}">
      </div>
            </section>
</main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr('.datepicker', {
            dateFormat: "Y-m-d",
            onOpen: function(selectedDates, dateStr, instance) {
                // Ajouter un bouton dans le calendrier lorsque celui-ci est ouvert
                if (!document.getElementById('clear-date-btn')) {
                    const clearButton = document.createElement('button');
                    clearButton.id = 'clear-date-btn';
                    clearButton.classList.add('btn', 'btn-secondary', 'mt-2');
                    clearButton.textContent = 'Cancel';
                    clearButton.classList.add('btn', 'btn-gray', 'mt-2');
                    
                    // Ajouter une action au clic du bouton
                    clearButton.addEventListener('click', function() {
                        instance.clear(); // Réinitialiser la date dans le calendrier
                        instance.close(); // Fermer le calendrier
                    });

                    // Insérer le bouton dans le conteneur de flatpickr
                    instance.calendarContainer.appendChild(clearButton);
                }
            },
        });

        // Ajouter des classes supplémentaires via JavaScript
        document.querySelectorAll('input[type="date"]').forEach(function(input) {
            input.classList.add('form-control');
        });
    });
  </script>


    
{% endblock body %}
